* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}




body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #010102;
}

.weather-container {
  background-color: rgb(231, 252, 41);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.location-container {
  margin-bottom: 20px;
}

#city {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#city:focus {
  outline: none;
  border-color: #333;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #0fb837;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049;
}

.weather-info {
  display: none;
}

img {
  width: 50px;
  height: 50px;
}

@media (max-width: 600px) {
  .weather-container {
      width: 250px;
  }
}
